@use '../abstracts/colors' as c;
@use '../abstracts/fonts' as f;

.cards {
    margin: 0 auto;
    width: 80%;
    display: grid;
    justify-content: space-around;
    grid-template-columns: auto auto auto;
}

.profile-card {
    margin: 70px 16px;
    width: 256px;
    height: auto;
    background: #eee;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .1);
}

.profile-image {
    display: inline-block;
    height: auto;
    background: #eee;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .1);
    cursor: pointer;
}

.material-icons.md-160 {
    font-size: 160px;
}

.profile-image-none {
    color: #8CBAB7;
    text-shadow: 0 2px 6px rgba(0, 0, 0, .1);
    position: relative;
    top: -80px;
    left: 44px;
    background: #eee;
    border-radius: 100%;
    box-shadow: 0 -2px 6px -3px rgba(0, 0, 0, .1);
    cursor: pointer;
}

.profile-name {
    width: 256px;
    box-sizing: border-box;
    padding: 0 16px;
    text-align: center;
    color: #2B3F60;
    text-shadow: 0 2px 6px rgba(0, 0, 0, .1);
    position: relative;
    top: -64px;
}

.profile-description {
    width: 256px;
    box-sizing: border-box;
    padding: 0 24px;
    color: #748AA4;
    text-shadow: 0 2px 6px rgba(0, 0, 0, .1);
    position: relative;
    top: -72px;
    margin-bottom: -48px;
}

@media only screen and (max-width: 600px) {
    .cards {
        grid-template-columns: auto;
    }
}