@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
}



#newsletter-section,
#about-section,
#login-section,
#user-section,
#post-section {
    display: none;
}

