@use '../abstracts/colors' as c;
@use '../abstracts/fonts' as f;
@use './dropDown';
@use './switch';

/* FILTER MENU */

.filter-menu {
    width: 80%;
    margin: 4em auto 1em ;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.tags-filter {
    display: flex;
    justify-content: center;
    height: 100%;
}

.filter-list {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: f.$filter-list-font-size;
    

    li {
        padding: 0.5em 1.5em;
        margin: 0;
        cursor: pointer;

        &:hover {
            background-color: c.$highlight-color-1;

            p {
                color: c.$main-light-color;
            }
        }
    }
}

.filter {
    text-decoration: none;
    color: c.$main-dark-color;
    pointer-events: none;
}

.sorting-filter-container {
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

// #ui-datepicker-div {
//  This is the month picker
//  Dont know how to implement for now 
// }

.month-picker {
    display: flex;
    justify-content: space-between;
    align-items: center;
    input, label{
        cursor: pointer;
    }
}

.date-sort-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
    select, label {
        cursor: pointer;
    }
} 

.active-filter {
    background-color: c.$highlight-color-1;
    p {
    color: c.$main-light-color;
    }
}

@media only screen and (max-width: 1300px) {
    .filter-menu {
        grid-template-columns: 1fr;
        // padding: 0 2em;
    }

    // .filter-list {
    //     flex-direction: column;
    //     align-items: flex-start;
    // }
    .tags-filter {
        width: 100%;
        justify-content: space-around;
    }
    .filter-list {
        justify-content: space-around;

        li {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
}

@media only screen and (max-width:900px) {
    .filter-menu {
        width: 100%;

        p {
            font-size: 0.7em;
        }
    }
}
