@use '../abstracts/colors' as c;
@use '../abstracts/fonts' as f;

/* FILTER MENU */

.filter-menu {
    display: flex;
    justify-content: center;
}

.filter-list {
    list-style: none;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    font-size: f.$filter-list-font-size;
}

.filter {
    text-decoration: none;
    color: c.$main-dark-color;

    &:hover {
        color: c.$highlight-color-1;
    }
}

@media only screen and (max-width: 1000px) {
    .filter-menu {
        display: block;
        padding: 0 2em;
    }

    .filter-list {
        flex-direction: column;
        align-items: flex-start;
    }
}
