@use '../abstracts/colors' as c;
@use '../abstracts/fonts' as f;
@use '../abstracts/screenSize' as s;

.main-blog-posts-container {
    width: 80%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main-blog-posts-card {
    width: 49%;
    height: 280px;
    margin: 1em 0;
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: rgb(69, 68, 70);
}

.main-blog-image-container {
    // width: 100%;
    padding: 0;
    margin: 0;
    height: 100%;

    img {
        object-fit: cover;
        height: 280px;
        // max-width: 300px;
    }
}

.main-blog-posts-body {
    padding: 0 0.5em;
    height: 280px;
    // width: 100%;
    // background:rgba(60, 59, 59, 0.3);
    position: relative;
    color: c.$main-light-color;

    p {
        font-size: 14px;
    }
}

.load-more {
    margin: 2em auto;
    display: flex;
    justify-content: center;
}


.load-more-btn {
    padding: 10px 20px;
    border: 1px solid #000;
    border-radius: 5px;
    background: #000;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    appearance: button;
    display: flex;
    align-items: center;
    justify-content: center;
  
    &:hover {
      transform: scale(0.98);
    }
  }

@media only screen and (max-width: s.$screen-size-large){
    .main-blog-posts-card {
        width: 100%;
    }
}

@media only screen and (max-width: s.$screen-size-medium){
    .main-blog-posts-container{
        width: 100%;
    }

    .main-blog-posts-body {

        p {
            display: none;
        }
    }
}

@media only screen and (max-width: 600px) {
    .main-blog-posts-card {
        /* grid-template-columns: 1fr ; */
        display: flex;
        position: relative;
    }

    .main-blog-image-container {
        width: 100%;

        img {
            max-width: none;
            width: 100%;
        }
        
    }

    .main-blog-posts-body {
        position: absolute;
        bottom: 0;
        height: auto;
        background:rgba(60, 59, 59, 0.4);
        
        p {
            display: none;
        }
    }
}