/* Variables */
:root {
    --main-dark-color: rgb(0, 0, 0);
    --main-light-color: rgb(255, 255, 255);
    --highlight-color-1: rgb(159, 29, 240);
    --navbar-link-font-size: 20px;
    --filter-list-font-size: 17px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
}

/* Header Navbar */
.header {
    background-color: var(--main-light-color);
    border-bottom: 1px solid black;  
}

.navbar {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-areas:'logo navbar search';
    grid-template-columns: 100px 1fr;
    font-size: var(--navbar-link-font-size);
}

.link {
    text-decoration: none;
    color: var(--main-dark-color);
}

.link:hover {
    color: var(--highlight-color-1);
}

.navbar p {
    display: inline;
    cursor: pointer;
}

/*Nav toggle */
.nav-toggle {
    display: none;
}

.toggle-container {
    grid-area: toggle;
    display: none;
    justify-content: left;
    align-items: center;
}

.toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 21px;
    cursor: pointer; 
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: var(--main-dark-color);
    border-radius: 10px;
}

.logo {
    grid-area: logo;
    display: flex;
    align-items: center;
    justify-content: left;
}

/* Navigation LINKS */
.navbar-links {
    display: flex;
    justify-content: center;
    grid-area: navbar; 
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.navbar-links li {
    margin-right: 2em;
}

/* LOGIN */
.login-container {
    display:  flex;
    justify-content: flex-end;
    align-items: center;
    grid-area: login;
}

.login-btn {
    padding: 4px 8px;
    border-radius: 15px;
    background-color: var(--main-dark-color);
}

.login-btn a {
    text-decoration: none;
    color: var(--main-light-color);
}

.login-btn a::after {
    content: "\f007";  
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    margin-left: 0.25em;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

/* Search components */
.filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: search;
}

.more-options {
    display: flex;
    align-items: center;
}
.more-options::after {
    content: "\f002"; 
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-style: normal;
    font-variant: normal;
    font-size: 0.75em;
    margin-left: 0.25em;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.search-icon {
    display: none;
}

.search-icon::after {
    content: "\f002"; 
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-style: normal;
    font-variant: normal;
    font-size: 0.75em;
    margin-left: 0.25em;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

/* FILTER MENU */

.filter-menu {
    display: flex;
    justify-content: center;
}

.filter-list {
    list-style: none;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    font-size: var(--filter-list-font-size);
}

.filter {
    text-decoration: none;
    color: var(--main-dark-color);
}

.filter:hover {
    color: var(--highlight-color-1);
}



/* -------------- */



/* MOBILE DESIGN */
@media only screen and (max-width: 1000px) {

    .navbar {
        position: relative;
        width: 100%;
        padding: 0;
        grid-template-areas:
        'toggle logo logo search'
        'navbar navbar navbar navbar';
    }

    /* Toggle */
    .toggle-container {
        padding-left: 2em;
        display: flex;
    }
  
    .nav-toggle:checked ~ .navbar-links {
        transform: scale(1, 1);
    }

    .nav-toggle:checked ~ .navbar-links li{
        opacity: 1;
        transition: opacity 250ms ease-in-out 250ms;
    }

    /* Navigation LINKS */
    .navbar-links {
        width: 100vw;
        position: absolute;
        justify-content: left;
        padding-left: 2em;
        background-color: var(--main-light-color);
        transform: scale(1, 0);
        transform-origin: top;
        transition: transform 400ms ease-in-out;
        border-bottom: 1px solid black;
    }

    .navbar-links ul {
        flex-direction: column;
        align-items: flex-start;   
    }

    .navbar-links li {
        padding-bottom: 1em;
        opacity: 0;
        transition: opacity 150ms ease-in-out;
    }

    .navbar-links a {
        font-size: 28px;  
    }

    .login-container {
        padding: 0 2em;
        border-radius: 0;
        background-color: transparent;
    }
    
    .login-btn {
        color: var(--main-dark-color);
    }

    .logo {
        justify-content: center;
    }

    .filter-container {
        padding: 0 2em;
        justify-content: right;
    }
    .filter-container a {
        display: none;
    }

    .search-icon {
        display: block;
    }
    
    .search-icon::after {
        font-size: 1.2em;
    } 
    
    /* FILTER MENU */

    .filter-menu {
        display: block;
        padding: 0 2em;
    }

    .filter-list {
        flex-direction: column;
        align-items: flex-start;
    }
}
